<script>
  import Game from '../Game.svelte';
</script>

<main>
  <nav />

  <article>
    <Game />
  </article>
</main>

<style>
  :global(body) {
    margin: 0;
    padding: 0;
  }

  main {
    display: grid;
    min-height: 100vh;
    grid-template: 'nav nav nav nav . article article article article article article .';
  }

  nav {
    grid-area: nav;
    background-color: lightgrey;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    left: 0;
  }

  article {
    grid-area: article;
  }
</style>
