<script>
  import { io } from 'socket.io-client';
  import { origin, params, uri } from './utils/service.js';
  import { fade, fly } from 'svelte/transition';

  let sets = [];
  let partyName = '';
  let roundNumber = 3;
  let drawTime = 60;
  let disabled = false;

  let gameKey = null;
  $: gameUrl = `https://skribbl.io/?${gameKey}`;

  let getLists = fetch('/api/lists').then((res) => res.json());

  const socket = io(uri);

  socket.on('gameCreated', ({ key }) => {
    disabled = false;
    gameKey = key;
  });

  socket.on('gameStarted', () => {
    gameKey = null;
    disabled = false;
  });

  const handleCreate = () => {
    disabled = true;
    socket.emit('createGame', { origin, params });
  };

  const handleStart = async () => {
    disabled = true;

    const words = await Promise.all(
      sets.map(({ uri }) => fetch(uri).then((res) => res.json())),
    ).then((arrays) => arrays.reduce((prev, curr) => [...prev, ...curr], []));

    socket.emit('startGame', { words });
  };
</script>

<main>
  <select multiple bind:value={sets} {disabled}>
    {#await getLists then lists}
      {#each lists as list}
        <option value={list}>
          {list.id}
        </option>
      {/each}
    {/await}
  </select>

  <label class="f2">
    Party name
    <input type="text" bind:value={partyName} {disabled} />
  </label>

  <label class="f3">
    Round number
    <input type="number" bind:value={roundNumber} {disabled} />
  </label>

  <label class="f4">
    Draw time
    <input type="number" bind:value={drawTime} {disabled} />
  </label>

  <button on:click={handleCreate} {disabled}>
    Create new game
    {#if disabled}
      ...
    {/if}
  </button>

  <div>
    &nbsp;
    {#if gameKey}
      <div in:fly={{ y: 200 }} out:fade>
        <a target="_blank" href={gameUrl}>Join with {gameUrl}</a>
        <button on:click={handleStart}>Start</button>
      </div>
    {/if}
  </div>
</main>

<style>
  main {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  label {
    padding: 10px;
    border: 1px solid darkgrey;
  }

  select {
    grid-area: select;
    margin: 0;
    border: 1px solid darkgrey;
  }

  .f2 {
    grid-area: f2;
  }

  .f3 {
    grid-area: f3;
  }

  .f4 {
    grid-area: f4;
  }

  button {
    grid-area: btn;
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  button:disabled {
    cursor: auto;
    opacity: 0.6;
  }

  div {
    grid-area: div;
  }

  select,
  button,
  label {
    appearance: none;
    border-radius: 4px;
  }

  @media (min-width: 640px) {
    main {
      display: grid;
      height: 100%;
      grid-template:
        '. .'
        'select f2'
        'select f3'
        'select f4'
        'btn btn'
        '. .'
        'div div'
        '. .'
        / 1fr 1fr;
    }
  }
</style>
